{% extends 'base.html.twig' %}

{% block title %}CookAssistant - Création d'un ingrédient{% endblock %}

{% block body %}
    <div class="container mt-4">
    <img src="/images/cooking.png" class="bi mt-4 mb-3" width="100" height="100" alt="" srcset="">
    <h1>Création d'un ingrédient</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
        <div class="form-error">
            {{ form_errors(form) }}
        </div>

        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div>
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            <div class="form-error">
                {{ form_errors(form.price) }}
            </div>
        </div>
        <div>
            {{ form_row(form.submit) }}
        </div>
        
    {{ form_end(form) }}
    </div>
{% endblock %}