{% extends 'base.html.twig' %}

{% block title %}Liste des Ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Composer une recette</h1>
        <p>Vous pouvez composer une recette. Sélectionnez les ingrédients que vous souhaitez utiliser, et le chef vous donnera une recette!</p>
        <form method="get" action="chief">
            <ul>
                {% for ingredient in ingredients %}
                    <li>
                        <input class="form-check-input" type="checkbox" name="{{ ingredient.id }}" id="{{ ingredient.id }}" value="{{ ingredient.id }}">
                        <label class="form-check-label" for="{{ ingredient.id }}">{{ ingredient.name }}</label>
                    </li>
                {% endfor %}
            </ul>
            <button type="submit" class="btn btn-primary">Demander une recette au chef</button>
        </form>
    </div>
{% endblock %}
